{{#with data}}
<a href="/purchase-product?id={{id}}" class="product-card">

	<div class="image__place">
		<img src="{{img}}" alt="" class="product-card__image">
	</div>

	<h2 class="product-card__title">{{title}}</h2>
	<p class="product-card__subtitle">{{description}}</p>


	{{#each category}}
	<span class="product-card__category product-card__category--{{id}}">{{text}}</span>
	{{/each}}
	{{> button text="Buy now" price=price}}

</a>

{{/with}}